body{
  margin: 0;
  padding: 0;
  color: black;
  font-size: 14px;
  background-color: #ffffff;
}
#header{
  width: 100%;
  background-color: #202020;
  border-bottom: solid black 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
#title{
  color: white;
  padding-left: 50px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 72px;
  margin-top: 0;
  margin: auto;
}
#sub{
  margin-top: 0;
  width: 100%;
  background-color: #858585;
  background: linear-gradient(to right, #858585 , #ffffff , #858585);
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
span{
  font-weight: bold;
}
